#header-bottom-left, .side, #siteTable { display: none; }

.thumbnail-holder {
    background-color: #636363;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    float: left;
    margin: 5px 5px 0 0;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
}

.thumbnail-holder img {
    transition: all 2s ease-in-out;
}

.thumbnail-holder.translate-10:hover img {
    transform: translateX(-10%);
}

.thumbnail-holder.translate-20:hover img {
    transform: translateX(-20%);
}

.thumbnail-holder.translate-30:hover img {
    transform: translateX(-30%);
}

.thumbnail-holder.translate-40:hover img {
    transform: translateX(-40%);
}

.thumbnail-holder.translate-50:hover img {
    transform: translateX(-50%);
}

.thumbnail-holder.translate-60:hover img {
    transform: translateX(-60%);
}

.thumbnail-holder.translate-70:hover img {
    transform: translateX(-70%);
}

.thumbnail-holder.translate-80:hover img {
    transform: translateX(-80%);
}

.thumbnail-holder.translate-90:hover img {
    transform: translateX(-90%);
}

.thumbnail-holder .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #333333;
    width: 140px;
    padding: 5px;
}

.thumbnail-holder .controls .arrow {
    float: left;
    margin-left: 5px;
}